:root {
    --main-bg-color: brown;
    --body-color: white;
    --quiz-bg-color: #282828;
    --box-shadow-color: rgba(0, 0, 0, 0.25);
    --btn-bg-color: #9400b9;
    --btn-correct-bg-color: #28a745;
    --btn-wrong-bg-color: #dc3545;
    --btn-selected-bg-color: #710086;
    --btn-text-color: #fff;
    --btn-padding: 10px;
    --btn-margin: 5px 0;
    --border-radius: 8px;
    --btn-border-radius: 4px;
    --padding: 20px;
    --margin-top: 20px;
    --margin-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--body-color);
    margin: 0;
    background: var(--main-bg-color);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.quiz-container {
    background: var(--quiz-bg-color);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px var(--box-shadow-color);
    overflow: hidden;
    max-width: 600px;
    width: 100%;
    padding: var(--padding);
    box-sizing: border-box;
    color: var(--btn-text-color);
    position: relative;
    z-index: 2;
}

.hide {
    display: none;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn {
    background: var(--btn-bg-color);
    border: none;
    color: var(--btn-text-color);
    padding: var(--btn-padding);
    margin: var(--btn-margin);
    cursor: pointer;
    border-radius: var(--btn-border-radius);
}

.btn.correct {
    background: var(--btn-correct-bg-color);
}

.btn.wrong {
    background: var(--btn-wrong-bg-color);
}

.btn.selected {
    background: var(--btn-selected-bg-color);
}

.controls {
    text-align: center;
    margin-top: var(--margin-top);
}

#results, #score-container {
    text-align: center;
}

#question-container {
    margin-bottom: var(--margin-bottom);
}

#particles-js {
    height: 100vh;
    width: 100vw;
    background-color: #090909;
    position: absolute;
}
